* { 
	margin: 0;
	padding: 0;
}

body {
	font-family: tahoma;
}

div.container {
	width: 800px;
	margin: 1em auto;
}

div.box {
	padding: 5px; 
	color:black; 
	font-family: arial;
	font-size: bigger;
}

div.error {
	border: 1px solid red; 
	background-color: pink;
}

div.statusupdate {
	border: 1px solid green; 
	background-color: lightgreen;
}

div.sidebar {
	width: 100px;
	float: left;
}

div.stats {
	margin-top: 1em;
	min-height: 100px; 
	width: 100px; 
	border: 1px solid silver; 
	background-color: Gainsboro ;
}

div.inventory {
	margin-top: 1em;
	min-height: 200px; 
	width: 100px; 
	border: 1px solid silver; 
	background-color: Gainsboro ;
}

div.box span {
	font-weight: bold;
	font-size: 1.2em;
	color: darkgray;
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 3px 0;	
}

div.content {
	float: left;
	margin-top: 1em;
	margin-left: 2em;
	border: 1px solid silver;
	height: 500px;
	width: 656px;
	position: relative;
}

div#battle {
	border: 1px solid red;
	height: 100px;
	right: 1em;
	left: 1em;
	bottom: 1em;
	background-color: pink;
	position: absolute;
	padding: 5px;
}

#nav ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#nav ul li { display: inline; }

#nav ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#nav ul li a:hover
{
color: #fff;
background-color: #369;
}